devhire-plan.md
.env
__pycache__
venv
.venv
venv/
/__pycache__/
*.pyc
/.env*
backend/.env
frontend/.env
frontend/node_modules
backend/core/__pycache__/
backend/__pycache__/*
backend/core/__pycache__/
backend/__pycache__/*
backend/.pytest_cache/*

backend/*/migrations/__pycache__/

bakend/core/__pycache__/*
backend/accounts/__pycache__/*

backend/core/__pycache__/*
backend/accounts/__pycache__/*
backend/jobs/__pycache__/*
backend/applications/__pycache__/*


docker-compose.yml
favicoon.ico