devhire-plan.md

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
/.env*
backend/.env
frontend/.env

# Python test/cache
backend/.pytest_cache/

# Node
frontend/node_modules/

# Docker
docker-compose.yml

# Misc
favicoon.ico