devhire-plan.md
.env
__pycache__
venv
venv/
/__pycache__/
*.pyc
/.env*

backend/.env
frontend/.env
frontend/node_modules
backend/core/__pycache__/
backend/__pycache__/*
backend/core/__pycache__/
backend/__pycache__/*


backend/accounts/migrations/*
backend/core/migrations/*
